@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf');
    font-weight: 400;
    font-style: italic;
}

.app {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 14px;
    user-select: none;
}

.info {
    width: 250px;
    padding: 10px;
    margin-left: 10px;  
    background-color: #e6e6e6;    

    //стили для информационного блока
    @mixin infoStyle() {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    //стили для информационного блока - с возможностью взаимодействия
    @mixin infoStyle_hoverable() {
        @include infoStyle();
        &:hover {
            cursor: pointer;
            background-color: #e7eaff;
        }
        &.active { 
            background-color: #fffb91; 
        }
    }

    .terrain_info_button {
        @include infoStyle_hoverable();
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;

        .terrain_img {
            width: 64px;
            height: 64px;
            margin-top: 4px;
        }

        .terrain_info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 5px;
            margin-left: 10px;
            margin-top: 10px;
            

            .terrain_info-span {
                font-weight: bold;
            }
        }
    }

    .start_finish_blocks {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .btn {
        @include infoStyle_hoverable();
        width: 50%;
        font-size: 110%;
        font-weight: bold;

        &:first-of-type {
            margin-right: 5px;
        }
    }

    .distance_block {
        @include infoStyle();
        font-size: 110%;
        font-weight: bold;

        span {color: red;}
    }

    .preset_block {
        @include infoStyle_hoverable();
        font-size: 110%;
        font-weight: bold;
        margin-bottom: 10px;
    }
}